*********************************************************************
***              LINUX SERVER CREATION NOTICE               	  ***
*********************************************************************
  You are receiving this message in response to your request for a
  Linux server.
  If this is a mistake, please disregard this message and kindly
  delete this e-mail.  If you did request this server, please make
  sure all the information listed below is correct and save this
  message for future reference.
                                                 -- Thank you.
*********************************************************************

        -------   LINUX SERVER LOGIN INFORMATION   -------

    Hostname:         {{ ansible_hostname }}
    IP:               {{ ansible_default_ipv4.address }}

    User:             root
    Password:         redhat


---------------------------------------------------------------------

  If the above information is incorrect or you are experiencing
  problems (or just for further information), please contact helpdesk.

  Please do NOT reply to this e-mail.
---------------------------------------------------------------------